.form_child_div {
    display: grid;
    grid-template-columns: 200px auto;
    padding: 10px;
}

.thumbnail_div {
    display: grid;
    grid-template-columns: 120px 150px 200px;
}

.fullInfo_div {
    display: grid;
    grid-template-columns: repeat(5, auto);
}