body {
    padding: 20px;
}

.form_child_div {
    display: grid;
    grid-template-columns: 200px auto;
    padding: 10px;
}

.thumbnail_div {
    display: grid;
    grid-template-columns: 120px 150px auto;
}

.fullInfo_div {
    display: grid;
    grid-template-columns: repeat(4, auto);
}
.items_div {
    display: grid;
}

.add_item_btn {
    display: grid;
    justify-self: right;
}

.fullInfo_div_child {
    padding: 0 10px;
}

.items_link_div,
.fullInfo_link_div {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 20px 0;
}

.fullInfo_change_link {
    display: grid;
    justify-self: right;
}

.change_fields_link,
.fullInfo_delete_link {
    display: grid;
    justify-self: left;
}

.img_thumbnail {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.fields_list_div {
    display: grid;
    grid-template-columns: auto auto;
}

.category_p,
.place_p {
    color: #007bff;
}

.category_p:hover,
.place_p:hover {
    cursor: pointer;
    color: #0056b3;
    text-decoration: underline;
}

.fields_form {
    display: grid;
    grid-template-columns: auto;
}

.each_item_div {
    display: grid;
    grid-template-columns: 300px auto;
}

.category_dlt_btn,
.place_dlt_btn {
    display: grid;
    align-self: start;
    width: fit-content;
}

.add_field_btn_div {
    display: grid;
    margin: 20px 0;
}

.add_field_btn{
    display: grid;
    justify-self: center;
}

.field_save_btn {
    display: grid;
    justify-self: center;
    margin-top: 20px;
}